#customer-service-chat {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 3000;

}
.round.hollow a {
    background-color: rgb(245,245,245);
    border: 2px solid rgb(7,117,125) !important;
    border-radius: 35px;
    color: red;
    color: rgb(7,117,125) !important;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.round.hollow a:hover {
    border: 2px solid #000;
    border-radius: 35px;
    color: red;
    color: #000;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
}